/* Orange : #e67e22 */



/*------------------------------------------*/
            /* BASIC SETUP */
/*------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body { 
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*------------------------------------------*/
            /* REUSABLE COMPONENTS */
/*------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;   
}

.box {
    padding: 0.5%;
}


/*------------------------------------------*/
            /* HEADINGS */
/*------------------------------------------*/
h1, h2, h3 {
    
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin: 0;
    margin-bottom: 30px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: '';
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}

/*------------------------------------------*/
            /* PARAGRAPHS */
/*------------------------------------------*/

.section-features .long-copy {
    margin-bottom: 35px;
}


.long-copy {
    line-height: 150%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 80%;
    line-height: 145%;
}

/*------------------------------------------*/
            /* BUTTON */
/*------------------------------------------*/
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: 0.8s all;
    transition: 0.8s all;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #924d10;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 20px;
}

.btn-full:hover,
.btn-full:active {
    background-color: #924d10;
}


.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e67e22;
    color: #fff;
}

/*------------------------------------------*/
            /* ICONS */
/*------------------------------------------*/
 .holy {
    font-size: 400%;
    font-weight: 100;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    margin-left: 30%;
    margin-top: 15px;
}


/*------------------------------------------------------*/






/*------------------------------------------*/
            /* HEADER */
/*------------------------------------------*/
header {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))),url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 7px;
    position: absolute;
    left: 4%;
}


/* ------ Main nav --------*/

.main-nav {
    float: right;
    list-style: none;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: 0.8s border;
    transition: 0.8s border;
    padding-bottom: 8px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ------ Sticky nav --------*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}




/*------------------------------------------*/
            /* MEALS IMAGES */
/*------------------------------------------*/

.section-step {
    background-color: #d3d3d3;
}

.section-meal {
    padding: 0;
    margin-bottom: 37%;
}


.meal-showcase {
    list-style: none;
    width: 100%;
}

.meal-showcase li {
    display: inline-block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
    opacity: 0.4;
}

.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}


/*------------------------------------------*/
            /* HOW IT WORKS */
/*------------------------------------------*/

.steps-box:first-child {
    text-align: right;
    padding: 1%;
}

.steps-box:nth-child(2) {
    padding-left: 3%; 
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app-img img {
    height: 50px;
    width: auto;
    margin-left: 60px;
}


/*------------------------------------------*/
            /* CITIES */
/*------------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.city-feature {
    margin-bottom: 5px;
    display: inline-block;
    
}

.icon-cities {
    line-height: 120%;
    vertical-align: middle;
    margin-top: 2px;
    float: left;
    margin-right: 15px;
    color: #e67e22;
}

a {
    text-decoration: none;
    color: #e67e22;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

a:hover,
a:active {
    color: #555;
}



/*------------------------------------------*/
            /* TESTIMONIALS */
/*------------------------------------------*/

.section-testimonials {
    background-image:  -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.9))),url(img/back-customers.jpg);
    background-image:  linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.9)),url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
    text-align: center;
}

blockquote:before {
    content: '\201C';
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/*------------------------------------------*/
            /* SIGN-UP */
/*------------------------------------------*/

.section-plans {
    background-color: #d3d3d3;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 10px 20px #838383;
    box-shadow: 0 10px 20px #838383;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box ul {
    list-style: none;
}

.plan-box li {
    padding: 5px 0;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-box div:first-child {
    background-color: #e5e5e5;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}


/*------------------------------------------*/
            /* CONTACT FORM */
/*------------------------------------------*/
.contact-form {
    width: 60%;
    margin: 0 auto;
    font-size: 80%;
    
    
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 120px
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}



/*------------------------------------------*/
            /* FOOTER */
/*------------------------------------------*/
footer {
    background-color: #3b3939;
    padding: 35px;
    text-align: center;
    padding: 3px;

}


.footer-nav {
    list-style: none;
    font-size: 100%;
}

.social-links {
    list-style: none;
    font-size: 150%;
 

}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
}


footer p {
    color: #888;
    font-size: 90%;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px; 
}


.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}


.facebook:hover {color: #3b5999; -webkit-transition: 0.5s color; transition: 0.5s color}
.twitter:hover {color: #55acee; -webkit-transition: 0.5s color; transition: 0.5s color}
.google-plus:hover {color: #af0606; -webkit-transition: 0.5s color; transition: 0.5s color}
.instagram:hover {color: #e4405f; -webkit-transition: 0.5s color; transition: 0.5s color}









